<header class="header" id="site-header">
  <div class="header-container container">
    <div class="header-wrapper"></div>
    <img class="header-img" src="/img/header/dynamic-island.png" alt="Dynamic Island" loading="lazy">
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.75 7.25H23M5 14H23H8.375M5 20.75H16.25" stroke="white" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#About">About</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Features">Features</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Gallery">Gallery</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Reviews">Reviews</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#FAQ">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
    <li><a class="menu-list-item" href="index.html#About">About</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Features">Features</a>
    </li>
    <li><a class="menu-list-item" href="index.html#Gallery">Gallery</a></li>
    <li><a class="menu-list-item" href="index.html#Reviews">Reviews</a></li>
    <li><a class="menu-list-item" href="index.html#FAQ">FAQ</a></li>
  </ul>
</div>
