<!-- Home -->
<section class="home-section">
    <div class="container">
        <h1 class="home-title">Matching Go! - Puzzle Games</h1>
        <p class="home-text">Clear your mind with soothing puzzle gameplay — Matching Go! makes thinking fun.</p>
        <a class="home-link" href="#Reviews">
            <img src="/img/home/icon.png" alt="Icon" loading="lazy" width="21" height="24">
            <div class="play-text-wrapper">
            <p class="play-text">GET IT ON</p>
            <!-- <svg class="home-svg" width="108" height="23">
                <use href="/img/sprite.svg#icon-google"></use>
            </svg> -->
            <p class="google-play-text">Google Play</p>
         </div>
        </a>
    </div>
</section>
<!-- About -->
<section class="about-section">
    <div class="container about-container">
        <h2 class="about-title">About</h2>
        <picture>
            <source srcset="
            /img/about/one-desk.png 1x,
            /img/about/one-desk@2x.png2x
           " media="(min-width: 1439px)" />
            <source srcset="
            /img/about/one-mob.png 1x,
            /img/about/one-mob@2x.png2x
            " media="(max-width: 1438px)" />
            <img class="about-one-img" src="/img/about/one-mob.png" alt="Chicken" loading="lazy" />
        </picture>
        <div class="about-wrapper">
            <p class="about-text-one"><span class="span">Matching Go!</span> is a calming and visually charming tile-matching puzzle game.</p>
            <p class="about-text-two">Connect pairs, solve challenges, and enjoy hundreds of levels designed to unwind your brain while keeping you engaged</p>
        </div>
        <picture>
            <source srcset="
                    /img/about/two-desk.png 1x,
                    /img/about/two-desk@2x.png2x
                   " media="(min-width: 1439px)" />
            <source srcset="
                    /img/about/two-mob.png 1x,
                    /img/about/two-mob@2x.png2x
                    " media="(max-width: 1438px)" />
            <img class="about-two-img" src="/img/about/two-mob.png" alt="Chicken" loading="lazy" />
        </picture>
    </div>
</section>