<!-- Home -->
<section class="home-section">
    <div class="container">
        <h1 class="home-title">Matching Go! - Puzzle Games</h1>
        <p class="home-text">Clear your mind with soothing puzzle gameplay — Matching Go! makes thinking fun.</p>
        <a class="home-link" href="#Reviews">
            <img src="/img/home/icon.png" alt="Icon" loading="lazy" width="21" height="24">
            <div class="play-text-wrapper">
            <p class="play-text">GET IT ON</p>
            <p class="google-play-text">Google Play</p>
         </div>
        </a>
    </div>
</section>
<!-- About -->
<section class="about-section">
    <div class="container about-container">
        <h2 class="about-title">About</h2>
        <picture>
            <source srcset="
            /img/about/one-desk.png 1x,
            /img/about/one-desk@2x.png 2x
           " media="(min-width: 1439px)" />
            <source srcset="
            /img/about/one-mob.png 1x,
            /img/about/one-mob@2x.png 2x
            " media="(max-width: 1438px)" />
            <img class="about-one-img" src="/img/about/one-mob.png" alt="Chicken" loading="lazy" />
        </picture>
        <div class="about-wrapper">
            <p class="about-text-one"><span class="span">Matching Go!</span> is a calming and visually charming tile-matching puzzle game.</p>
            <p class="about-text-two">Connect pairs, solve challenges, and enjoy hundreds of levels designed to unwind your brain while keeping you engaged</p>
        </div>
        <picture>
            <source srcset="
                    /img/about/two-desk.png 1x,
                    /img/about/two-desk@2x.png2x
                   " media="(min-width: 1439px)" />
            <source srcset="
                    /img/about/two-mob.png 1x,
                    /img/about/two-mob@2x.png2x
                    " media="(max-width: 1438px)" />
            <img class="about-two-img" src="/img/about/two-mob.png" alt="Chicken" loading="lazy" />
        </picture>
    </div>
</section>
<!-- Features -->
<section class="features-section">
    <div class="container">
        <h2 class="features-title">Features</h2>
        <ul class="features-list">
            <li class="features-item features-item-one">
                 <svg class="home-svg" width="54" height="54">
                    <use href="/img/sprite.svg#icon-one"></use>
                 </svg>
                 <h3 class="features-title-item">Classic Tile Matching</h3>
                 <p class="features-item-text">Connect pairs and clear the board</p>
            </li>
             <li class="features-item features-item-two">
                 <svg class="home-svg" width="54" height="54">
                     <use href="/img/sprite.svg#icon-two"></use>
                  </svg>
                     <h3 class="features-title-item">Soothing Visuals</h3>
                     <p class="features-item-text">Bright, clean designs made for relaxation</p>
            </li>
              <li class="features-item features-item-three">
                     <svg class="home-svg" width="54" height="54">
                       <use href="/img/sprite.svg#icon-three"></use>
                     </svg>
                      <h3 class="features-title-item">Brain Training</h3>
                      <p class="features-item-text">Sharpen your mind with satisfying logic puzzles</p>
            </li>
               <li class="features-item features-item-four">
                   <svg class="home-svg" width="54" height="54">
                      <use href="/img/sprite.svg#icon-four"></use>
                   </svg>
                   <h3 class="features-title-item">Unlockable Themes</h3>
                  <p class="features-item-text">Explore different tile styles and boards</p>
             </li>
             <li class="features-item features-item-five">
                     <svg class="home-svg" width="54" height="54">
                         <use href="/img/sprite.svg#icon-five"></use>
                     </svg>
                     <h3 class="features-title-item">Offline Mode</h3>
                     <p class="features-item-text">Play anytime, even without internet</p>
             </li>
        </ul>
    </div>
</section>
<!-- Gallery -->
<section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper gallery-swiper-wrapper">
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/one-desk.png 1x,
                        /img/gallery/one-desk@2x.png 2x
                               " media="(min-width: 1439px)" />
                        <source srcset="
                        /img/gallery/one-mob.png 1x,
                        /img/gallery/one-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/one-mob.png" alt="Matching Go" loading="lazy" />
                    </picture>
                </div>
              <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/two-desk.png 1x,
                        /img/gallery/two-desk@2x.png 2x
                               " media="(min-width: 1439px)" />
                        <source srcset="
                        /img/gallery/two-mob.png 1x,
                        /img/gallery/two-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/two-mob.png" alt="Matching Go" loading="lazy" />
                    </picture>
                </div>
                 <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/three-desk.png 1x,
                        /img/gallery/three-desk@2x.png 2x
                               " media="(min-width: 1439px)" />
                        <source srcset="
                        /img/gallery/three-mob.png 1x,
                        /img/gallery/three-mob@2x.png 2x
                                " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/three-mob.png" alt="Matching Go" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/one-desk.png 1x,
                                        /img/gallery/one-desk@2x.png 2x
                                               " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/one-mob.png 1x,
                                        /img/gallery/one-mob@2x.png 2x
                                                " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/one-mob.png" alt="Matching Go" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/two-desk.png 1x,
                                        /img/gallery/two-desk@2x.png 2x
                                               " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/two-mob.png 1x,
                                        /img/gallery/two-mob@2x.png 2x
                                                " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/two-mob.png" alt="Matching Go" loading="lazy" />
                    </picture>
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <picture>
                        <source srcset="
                                        /img/gallery/three-desk.png 1x,
                                        /img/gallery/three-desk@2x.png 2x
                                               " media="(min-width: 1439px)" />
                        <source srcset="
                                        /img/gallery/three-mob.png 1x,
                                        /img/gallery/three-mob@2x.png 2x
                                                " media="(max-width: 1438px)" />
                        <img class="gallery-img" src="/img/gallery/three-mob.png" alt="Matching Go" loading="lazy" />
                    </picture>
                </div>
                  </div>
        </div>
        <div class="custom-navigation gallery-nav">
            <button class="custom-arrow custom-prev" aria-label="Previous slide">
                <svg class="arrow" width="51" height="50">
                    <use href="/img/sprite.svg#icon-blue-arrow"></use>
                </svg>
            </button>
            <button class="custom-arrow custom-next" aria-label="Next slide">
                <svg class="arrow" width="51" height="50">
                    <use href="/img/sprite.svg#icon-blue-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
<!-- Reviews -->
<section class="reviews-section">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
                <div class="swiper reviews-swiper">
                    <div class="swiper-wrapper reviews-swiper-wrapper">
                        <div class="swiper-slide reviews-swiper-slide">
                            <p class="reviews-author">Taylor M.</p>
                            <p class="reviews-text">"Matching Go! is my go-to for relaxing before bed. Love the visuals!"</p>
                            <img src="/img/reviews/five-stars.png" alt="Five stars" loading="lazy" width="137" height="21">                            
                        </div>
                        <div class="swiper-slide reviews-swiper-slide">
                            <p class="reviews-author">Jin H.</p>
                            <p class="reviews-text">"It’s surprisingly addictive. Great game for breaks or commutes."</p>
                            <img src="/img/reviews/five-stars.png" alt="Five stars" loading="lazy" width="137" height="21">                            
                        </div>
                        <div class="swiper-slide reviews-swiper-slide">
                            <p class="reviews-author">Lena F.</p>
                            <p class="reviews-text">"The perfect mix of challenge and chill. I feel smarter after playing!"</p>
                            <img src="/img/reviews/five-stars.png" alt="Five stars" loading="lazy" width="137" height="21">                            
                        </div>
                         <div class="swiper-slide reviews-swiper-slide">
                            <p class="reviews-author">Marco R.</p>
                            <p class="reviews-text">"Nice graphics, smooth gameplay, and tons of levels to enjoy."</p>
                            <img src="/img/reviews/five-stars.png" alt="Five stars" loading="lazy" width="137" height="21">                            
                        </div>
                      <div class="swiper-slide reviews-swiper-slide">
                            <p class="reviews-author">Ella D.</p>
                            <p class="reviews-text">"Very relaxing and helps me focus. 10/10 would recommend."</p>
                            <img src="/img/reviews/five-stars.png" alt="Five stars" loading="lazy" width="137" height="21">                            
                        </div>
                    </div>
                </div>
    </div>
</section>